<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8>
	<!-- <link rel="stylesheet" href="/public/stylesheet.css"> -->
	<!-- <link rel="script" href="/public/three.js"> -->

	<title>World Energy</title>
	<link rel="stylesheet" href="/public/stylesheet.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


</head>

<body>

	<h1>World Energy 2017, Visualized</h1>
	<h3>Credits: <a href="https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html">Data from BP's Statistical World Energy Review.</a></h3>

	<div id="d3"></div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="/public/routes/d3.v4.js"></script>
	<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
	<script type="text/javascript" src="/public/routes/dataHandler.js"></script>
	<!-- <script type="text/javascript" src="/public/routes/d3.js"></script> -->
	<!-- <script type="text/javascript" src="/public/routes/simpleDataHandler.js"></script> -->

</body>

</html>
